{% extends 'base.html' %}
{% load static %}
{% block contents %}

<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <!-- 教員の都合追加 -->
    <div class="alert alert-primary mt-3" role="alert">
        教員名とその教員が休みをとるコマを選択し、「追加」を押してください
    </div>
    <div class="form-row align-items-center">
        <div class="col-auto ml-3">
            <label class="mr-sm-2 sr-only" for="teacher">Preference</label>
            <select class="custom-select mr-sm-2 mb-2" id="teacher" name="teacher">
                {% for t in teacher %}
                <option value="{{ t }}">{{ t }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-secondary mb-2" name="add">追加</button>
        </div>
    </div>
    <div class="container">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col"></th>
                    {% for day in days %}
                    <th scope="col">{{ day }}</th>
                    {% endfor %}
                </tr>
            </thead>
            {% for gen, infos in tabledict.items %}
            <tbody>
                <tr>
                    <th scope="row">{{ gen }}</th>
                    {% for info in infos %}
                    <td>
                        {% if info %}
                        {% for key, value in info.items %}
                        <div class="text-center">
                            <input class="form-check-input" type="checkbox" value="{{ key }}" name="{{ key }}">
                            <label class="form-check-label" for="mon1">{{ value }}</label>
                        </div>
                        {% endfor %}
                        {% endif %}
                    </td>
                    {% endfor %}
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
    <!-- 加えた制約3の表示 -->
    <div class="m-3" style="background-color: whitesmoke;">
        {% if con3 %}
        <div class="m-3">
            <p>現在追加済みのお休みコマ</p>
        </div>
        {% endif %}
        <div class="m-3">
            {% for name, komas in con3.items %}
            {% if komas %}
            <li class="m-3">{{ name }} 先生： {{ komas }}　<button type="submit" class="btn btn-outline-secondary btn-sm"
                    id="clear" name="clear" value="{{ name }}">取り消す</button></li>
            {% endif %}
            {% endfor %}
        </div>
        {% if con3 %}
        <div class="m-3">
            <button type="submit" class="btn btn-outline-secondary btn-sm" name="clear-all">全教員の休むコマを取り消す</button>
        </div>
        {% endif %}
    </div>

    <!-- マシンの選択 -->
    <div>
        <div class="alert alert-primary my-3" role="alert">
            マシンを選択してください
        </div>
        <div class="form-check ml-3">
            <input class="form-check-input" type="radio" name="machine" id="sa" value="sa" checked>
            <label class="form-check-label" for="sa">
                SA
            </label>
        </div>
        <div class="form-check ml-3">
            <input class="form-check-input" type="radio" name="machine" id="da" value="da">
            <label class="form-check-label" for="da">
                デジタルアニーラ
            </label>
        </div>
        <div class="form-check ml-3">
            <input class="form-check-input" type="radio" name="machine" id="fix" value="fix">
            <label class="form-check-label" for="fix">
                フィックスターズ
            </label>
        </div>
        <div class="form-check ml-3">
            <input class="form-check-input" type="radio" name="machine" id="dw" value="dw">
            <label class="form-check-label" for="dw">
                D-Wave
            </label>
        </div>
        <!-- アクセストークン -->
        <div class="form-check ml-3 mt-3">
            <label for="inputPassword5">アクセストークン・APIキー（SAの場合は必要ありません）</label>
            <input type="password" id="token" class="form-control" aria-describedby="passwordHelpBlock" name="token"
                value="">
        </div>
        <!-- ステップ数、繰り返し数 -->
        <div class="row ml-3 mt-3">
            <div class="col">
                <label for="steps">ステップ数</label>
                <input type="number" class="form-control" id="steps" name="steps" value="1000">
            </div>
            <div class="col">
                <label for="reads">繰り返し数</label>
                <input type="number" class="form-control" id="reads" name="reads" value="10">
            </div>
        </div>
    </div>

    <!-- 時間割を作成 -->
    <div class="container my-3">
        <button type="submit" class="btn btn-primary btn-block" name="make">時間割を作成する</button>
    </div>
</form>

{% endblock contents %}