{% extends 'base.html' %}
{% load static %}
{% block contents %}

<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <!-- ファイルアップロード -->
    <div class="alert alert-primary  my-3" role="alert">
        授業データが記載されたExcelファイルをアップロードしてください
    </div>
    <table>
        {{ form.as_table }}
    </table>

    <!-- １週間の時間割の形式を決定 -->
    <div class="alert alert-primary my-3" role="alert">
        各曜日のコマ数を選んでください。またお昼休みが何限と何限の間かを選択してください
    </div>

    <div class="form-row align-items-center m-3">
        <p>月曜日</p>
        <div class="col-auto">
            <select class="form-control" id="mon" name="mon">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6" selected="selected">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
            </select>
        </div>
        <p>火曜日</p>
        <div class="col-auto">
            <select class="form-control" id="tue" name="tue">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6" selected="selected">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
            </select>
        </div>
        <p>水曜日</p>
        <div class="col-auto">
            <select class="form-control" id="wed" name="wed">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6" selected="selected">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
            </select>
        </div>
        <p>木曜日</p>
        <div class="col-auto">
            <select class="form-control" id="thu" name="thu">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6" selected="selected">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
            </select>
        </div>
        <p>金曜日</p>
        <div class="col-auto">
            <select class="form-control" id="fri" name="fri">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6" selected="selected">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
            </select>
        </div>
        <p>土曜日</p>
        <div class="col-auto">
            <select class="form-control" id="sat" name="sat">
                <option value="0" selected="selected">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
            </select>
        </div>
    </div>
    <div class="form-row align-items-center m-3">
        <p>お昼休み</p>
        <div class="col-auto">
            <select class="form-control" id="lunch" name="lunch">
                <option value="2">2限と3限の間</option>
                <option value="3">3限と4限の間</option>
                <option value="4" selected="selected">4限と5限の間</option>
                <option value="5">5限と6限の間</option>
                <option value="-1">なし</option>
            </select>
        </div>
    </div>

    <!-- 時間割を作成 -->
    <div class="container my-3">
        <button type="submit" class="btn btn-primary btn-block">確定する</button>
    </div>
</form>

{% endblock contents %}